@{
    ViewData["Title"] = "Template";
}

@section styles{

<environment names="Development,Production,Staging">
    <link rel="stylesheet" href="~/dist/css/template/main.css" asp-append-version="true" />
</environment>

}

@section scripts{

    <environment names="Development,Production,Staging">
        <script src="~/dist/js/template/bundle.js" asp-append-version="true"></script>
    </environment>

}

<div id="app">

</div>