@{
    ViewData["Title"] = "Ice and fire";
}

@section styles{

}

@section scripts{

    <environment names="Development,Production,Staging">
        <script src="~/dist/js/iceandfire/bundle.js" asp-append-version="true"></script>
    </environment>

}

<div id="app">

</div>